# ─── Base de Datos SQL Server ────────────────────────────
DB_SERVER=db38571.public.databaseasp.net
DB_USER=db38571
DB_PASSWORD=wP_4T2s?z+9G
DB_NAME=db38571
DB_PORT=1433

# ─── Seguridad ────────────────────────────────────────────
SECRET_KEY=cambia_esto_por_algo_seguro_en_produccion
JWT_SECRET=cambia_esto_por_algo_seguro_en_produccion

# ─── reCAPTCHA ────────────────────────────────────────────
RECAPTCHA_SITE=6LebTlYsAAAAADnLSamRI9p-VJYYovtlyxHeRD-8
RECAPTCHA_SECRET=6LebTlYsAAAAAD0Q3XM3e6ah7CctvUEK4OEclWDR

# ─── Cloudinary ───────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=dqhqrjoe6
CLOUDINARY_API_KEY=359285996587242
CLOUDINARY_API_SECRET=tu_api_secret_aqui

# ─── Puerto (Render lo asigna automáticamente) ────────────
PORT=3000
